<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="empBean" class="com.altimetrik.Employee">
		<property name="uid">
			<value>603</value>
		</property>
		<property name="name">
			<value>Shubham</value>
		</property>
		<property name="city">
			<value>Jalgaon</value>
		</property>
		<property name="phoneNo">
			<value>9988</value>
		</property>
	</bean>
</beans>
 